변수

In [53]:
a = 1

print(a)

1

In [54]:
b = 6
a = b
# 얕은 복사 (shallow copy) : 같이 바뀌니까

print(a)
print(b)

6
6

데이터 타입(dtype)

In [55]:
# 숫자형

a = 1 ; b = 5 ; c = 3.3 ; d = 0.5

print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

1 5 3.3 0.5
<class 'int'> <class 'int'> <class 'float'> <class 'float'>

In [56]:
# 파이썬 연산
print(a+b , a-b , a*b , a/b) # 사칙연산(+,-,*,/)
print(a **c) # 제곱
print(a //c) # 몫
print(a % c) # 나머지

6 -4 5 0.2
1.0
0.0
1.0

In [57]:
# 문자열 형

str1 = "python"
str2 = "programming"
print(str1 + str2) # 문자열 더하기 >> 문자끼리 연결
print(str1 * 2) # 문자열 곱하기 >> 문자열 반복

pythonprogramming
pythonpython

In [58]:
# 문자열 안댁싱 & 슬라이싱
str = "python programming"
print(str[0]) # 인덱싱 (특정 위치 값 추출)
print(str[-2])
print(len(str)) # 데이터 크기 (길이)
print(str[-18])
print("*" *20)

print(str[1:4])
print(str[:6])
print(str[-3:])

p
n
18
p
********************
yth
python
ing

In [59]:
# 문자열 포맷팅
# f'{}' : f-string (강추)

print("오늘은 %d 일 입니다."%28)
print("오늘은 %s요일 입니다."%'목')
print("지금 온도는 %f도 입니다."%36.5)
print("지금 온도는 %0.2f도 입니다."%36.5) # 소수점 2째자리까지만 출력

오늘은 28 일 입니다.
오늘은 목요일 입니다.
지금 온도는 36.500000도 입니다.
지금 온도는 36.50도 입니다.

- %s : string 문자열
- %c : 단일문자(chatacter : char)
- %d : 정수(int)
- %x : 16진수

In [60]:
# 문자열 내장 함수

# count() : 문자열 내 특정 문자 개수 세기
str = "python programming"
print(str.count('p'))

2

In [61]:
# join() : 문자열 삽입

"-".join(str)

'p-y-t-h-o-n- -p-r-o-g-r-a-m-m-i-n-g'

In [62]:
# find() : 찾는 문자열 (처음 나온) 위치 반환

str.find('n')

5

In [63]:
# upper() , lower() 대문자로/ 소문자로 변환

print(str.upper())
str2 = 'PYTHON PROGRAMMING'
str2.lower()

PYTHON PROGRAMMING

'python programming'

In [64]:
# replace(***) : 문자열 내 특정 값을 다른 값으로 변환
str.replace("python","java")

'java programming'

In [65]:
# split(***) : 공백 또는 특정 문자를 [구분자]로 문자열 분리

str.split(' ') # 공백 기준 분리

['python', 'programming']

연산자

In [66]:
# 산술 연산자

a = 20; b = 10
print(a+b) # 더하기
print(a-b) # 빼기
print(a*b) # 곱하기
print(a/b) # 나누기
print(a//b) # 몫
print(a%b) # 나머지
print(a**b) # 거듭제곱

30
10
200
2.0
2
0
10240000000000

In [67]:
# 비교 (관계) 연산자


print(a < b) 
# boolean(True/False)으로 출력
print(a >= b)
print(a <= b)
print(a == b) # 값이 동일
print(a != b) # 값이 다르다

False
True
False
False
True

In [71]:
# 논리 연산자

a = True
b = False

(a and b)

False

In [72]:
(a or b)

True

In [73]:
not b

True

In [83]:
# 복합 대입 연산자

a = 10
a = a + 10
print(a)

20

In [84]:
a += 10 # a = a + 10
print(a)

30

In [85]:
a -= 10 # a = a - 10
print(a)

20

In [86]:
a *= 10 # a = a * 10
print(a)

200

In [87]:
a /= 10 # a = a / 10
print(a)

20.0

조건문과 반복문

In [91]:
# 조건문

# if 조건문
a = 10
if (a > 0) :
    print("a는 양의 정수 입니다.")

a는 양의 정수 입니다.

In [92]:
a = 10
if (a < 0) :
    print("a는 양의 정수 입니다.")

# 아무 것도 안 나옴( 왜? if 절 조건이 True가 아니기 때문)

In [93]:
a = 10
if (a < 0) :
    print("a는 양의 정수 입니다.")

print(a)

10

In [95]:
# if - else

b = -10

if(b > 0) :
    print("b는 %d입니다."%b)
    print("b는 양의 정수입니다.")

else:
    print("b는 %d입니다."%b)
    print("b는 음의 정수입니다.")

b는 -10입니다.
b는 음의 정수입니다.

In [96]:
# if ~elif ~else

a = -10

if (a > 0):
    print("a는 양의 정수 입니다.")
elif (a == 0):
    print("a는 0입니다.")
else:
    print("a는 음의 정수 입니다.")

a는 음의 정수 입니다.

In [106]:
### 실제 코딩 테스트에 나온 문제 풀어보는 즐거운 코딩 시간

# a,b,c 세 정수형 변수
# 이 중에서 가장 큰 수(big) 찾아서 출력하기
# 사용자 입력을 받으세요 >> input()

a = int(input("첫번째 수를 입력하세요: "))
b = int(input("두번째 수를 입력하세요: "))
c = int(input("세번째 수를 입력하세요: "))

# a와 b를 비교 >> =big
if (a >= b):
    big = a

else:
    big = b

# c와 big 을 비교 >> 더 큰 값 출력
if (c >= big):
    print("가장 큰 수는 %d입니다."%c)

else:
    print("가장 큰 수는 %d입니다."%big)


# 출력결과
# 첫번째 수를 입력하세요:
# 두번째 수를 입력하세요:
# 세번째 수를 입력하세요:
# 가장 큰 수는 (숫자)입니다.

첫번째 수를 입력하세요:  10
두번째 수를 입력하세요:  5
세번째 수를 입력하세요:  20

가장 큰 수는 20입니다.

In [ ]:
def find_largest_number(a, b, c):
    big = 0
    if a > b:
        big = a
    elif a == b:
        big = a
    else:
        big = b
    if c >= big:
        big = c
    return big
print("가장 큰 수를 찾는 프로그램")
print("첫번째 수를 입력하시오")
a = int(input())
print("두번째 수를 입력하시오")
b = int(input())
print("세번째 수를 입력하시오")
c = int(input())
largest_number = find_largest_number(a, b, c)
print(f"가장 큰 수는 {largest_number}입니다.")

반복문

In [107]:
# for 문

for i in range(5):
    print("python programming")

python programming
python programming
python programming
python programming
python programming

In [113]:
sum = 0 # 초기화

for i in range(1,6):
    sum = sum + i
    print('i의 값: %d,합계: %d'%(i, sum))

i의 값: 1,합계: 1
i의 값: 2,합계: 3
i의 값: 3,합계: 6
i의 값: 4,합계: 10
i의 값: 5,합계: 15

In [114]:
for i in range(1, 10, 2):
    print(i, end=' ')
    # print(i)
    # end = ' '  >> 결과값을 한 줄로 공백(' ') 으로 구분하여 출력

1 3 5 7 9

In [116]:
for char in "multi-campus":
    print(char,end=' ')

m u l t i - c a m p u s

In [122]:
# 이중 for 문 (for 문 중첩)

for i in range(1,5):
    for j in range(1,5):
        print(i*j, end=' ')
    # print('-'*10)
    print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [125]:
# 구구단 출력

for i in range(2,10):
    for j in range(1,10):
        print("%d * %d = %d"%(i, j , i*j))
    print('*'*20)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
********************
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
********************
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
********************
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
********************
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
********************
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
********************
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
********************
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
********************

In [127]:
for i in range(2,10):
    for j in range(1,10):
        print("%d * %d = %d"%(i, j , i*j), end=' ')
    print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [132]:
for i in range(2,10):
    for j in range(1,10):
        print("%d * %d = %d"%(i,j,i*j),end=' ')
    print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [135]:
# while 문

i = 1
while (i <= 5):
    print("multi campus")
    i += 1 # i = i+1 (정지조건 >> 없으면 무한반복)

multi campus
multi campus
multi campus
multi campus
multi campus

In [136]:
sum = 0
i = 1

while (i<=5):
    sum = sum + i
    print("i의 값: %d, 합계 : %d "%(i,sum))
    i += 1

i의 값: 1, 합계 : 1
i의 값: 2, 합계 : 3
i의 값: 3, 합계 : 6
i의 값: 4, 합계 : 10
i의 값: 5, 합계 : 15

In [141]:
i = 0
s = "multi campus"
print(len(s))
print(s[3])

while i<= (len(s)-1):
    print(s[i],end=' ')
    i +=1 # 정지조건

12
t
m u l t i   c a m p u s

In [142]:
i = 0
while i < 100:
    print(i, end= ' ')
    i += 1
    if i == 10:
        break

0 1 2 3 4 5 6 7 8 9

[ 기출 응용 ] 평균 점수 계산

In [147]:
# for 문 활용

a = [70,60,55,95,80,70,85,47,83,78]

sum = 0
avg = 0

for i in a:
    sum = sum + i

avg = sum / len(a)

print(sum)
print("평균은 %.2f입니다"%avg)

723
평균은 72.30입니다

In [157]:
# while 문

a = [70,60,55,95,80,70,85,47,83,78]

sum = 0
avg = 0

i = 0
while (i < len(a)):
    sum = sum + a[i]
    i += 1
    
avg = sum/len(a)
print(sum)
print(avg)

723
72.3

리스트(List)

In [2]:
a = []
b = [1,2,3]
c = ['사과','오렌지','딸기','포도','바나나']
d = [1,2,'python','programming']

In [3]:
print(a)

[]

In [8]:
# 리스트의 더하기와 곱하기
# 특징 : 더하면 연장, 곱하면 반복

a = [1,2,3,4]
b = [5,6,7,8]

# print(a,b)

print(a + b) # 리스트를 합친다
print(a * 3) # 리스트끼리는 곱하기가 안된다 # list a를 3번 반복해줘

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [16]:
# 리스트 원소 추가 >> append() , insert()
# append() : 리스트의 마지막에 원소를 추가
# insert() : 특정 인덱스에 원소를 추가

b = ['a','b','c']
b.append('d')
print(b)

['a', 'b', 'c', 'd']

In [18]:
b.insert(-1,'e') # insert (특정 인덱스,삽입할 값)
print(b)

['a', 'b', 'c', 'e', 'e', 'd']

In [20]:
# 리스트의 원소 수정과 삭제

c = ['a','b','c'] # 리스트 원소 수정(값 변경)
c[-1] = 'r'
print(c)

['a', 'b', 'r']

In [22]:
del c[0] # 리스트 원소 삭제
print(c)

['r']

In [23]:
# reverse() : 리스트의 원소의 순서를 역순으로 배열
a = ['a','b','c','d','e']
a.reverse()
print(a)

['e', 'd', 'c', 'b', 'a']

In [27]:
a = ['a','b','c','d','e']
b = list(reversed(a))
print(b)
print(a)

['e', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'e']

In [69]:
# 슬라이싱 역순 만들어 보세요
a = ['a','b','c','d','e']

a[len(a)::-1]

['e', 'd', 'c', 'b', 'a']

In [32]:
# index(x) : 원소 x가 위치한 인덱스 값 반환(없으면 에러 발생)

print(a)
print(a.index('e'))
# a.index('f') # value error 발생

['a', 'b', 'c', 'd', 'e']
4

In [33]:
# sort() : 리스트의 원소를 오름차순(default) 정렬
d = ['e','d','c','b','a']
d.sort()
d

['a', 'b', 'c', 'd', 'e']

In [42]:
d = ['e','d','c','b','a']
e = sorted(d)
print(d)
print(e)

['e', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'e']

In [44]:
# count(x) : 리스트의 원소 x값 개수를 셈

d.count('a')

1

In [55]:
e = [10,20,30,40,20,20]

e.count(20)

3

In [56]:
# remove(x) : 리스트에서 [첫번째로 나오는] x값 삭제 

print(e) # 변경 전

e.remove(20)
print(e)

[10, 20, 30, 40, 20, 20]
[10, 30, 40, 20, 20]

In [59]:
# 반복문에서 리스트 활용

a = ['a','b','c']

for i in a:
    # print(i)
    print(i,end=' ' )

a b c

2차원 리스트 (중첩 리스트)

In [63]:
# 예) 학생 5명, 중간, 기말 시험 점수를 2차원 리스트로 표현해줘
scores = [[70,75],[80,80],[70,80],[95,85],[100,80]]

# 추가 설명 : 성적 평점기준(출석 10%, 중간 30%, 기말 40%,과제 20%)
# [[8,25,35,15],[.....],[.....]]

In [65]:
# 3번째 학생의 중간고사 성적
print(scores[2])
scores[2][0]

[70, 80]

70

튜플과 딕셔너리

In [73]:
# 튜플(tuple) (immutable)

t = ('a','b','c','d','e')

print(t[0]) # indexing
print(t[:-1]) # slicing
print(t * 2) # 곱하기 >> 반복
print(len(t))

a
('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')
5

In [80]:
# 딕셔너리

dic1 = {1:'a',2:'b',3:'c'}
dic2 = {'name':'python','age':30,'job':'dessa'}

print(dic1[1]) # 1 : key >> dic[1] >> value 값이 'a' 출력
print(dic2['name'])

a
python

In [81]:
# 딕셔너리 요소 값 추가
dic1[4] = 'd'

print(dic1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [82]:
dic2['hobby'] = 'piano'

print(dic2)

{'name': 'python', 'age': 30, 'job': 'dessa', 'hobby': 'piano'}

딕셔너리 관련 함수

In [83]:
dic1 = {1:'a',2:'b',3:'c'}
dic2 = {'name':'python','age':30,'job':'dessa'}


print(dic2.keys())

dict_keys(['name', 'age', 'job'])

In [85]:
print(dic2.values())

dict_values(['python', 30, 'dessa'])

In [87]:
print(dic2.items()) # (k,v) 묶어서 tuple 형태로

dict_items([('name', 'python'), ('age', 30), ('job', 'dessa')])

In [88]:
if 'age' in dic2:
    print(dic2.get('age'))

30

In [90]:
if 'age' in dic2:
    print(dic2.get('address')) # .get 없으면 None

None

해 보세요.

- 3명의 회원 정보(id, password) : dictionary 정의할 것
- 사용자로부터 id,password 입력받아서 일치 여부 판단 프로그램

    - 회원1 id: multi pw: 1234
    - 회원2 id: drwill pw: 7777
    - 회원3 id: dessa pw:8888

In [1]:
id_pw = {'multi':1234,'drwill':7777,'dessa':8888}

# HINT (if~else 사용해보세요)

id = input("사용자 아이디를 입력해 주세요: ")
pw = int(input("사용자 패스워드를 입력해 주세요(단, 숫자로 입력해주세요): "))

if id in id_pw:
    if pw == id_pw.get(id):
        print("아이디와 비밀번호가 일치합니다.")
    else:
        print("비밀번호가 틀립니다.")
        
else:
    print("아이디가 존재하지 않습니다.")

사용자 아이디를 입력해 주세요:  a
사용자 패스워드를 입력해 주세요(단, 숫자로 입력해주세요):  12

아이디가 존재하지 않습니다.

함수와 라이브러리(모듈, 패키지)

In [2]:
def sum(x,y):
    return x+y

In [3]:
# 주어진 수의 홀짝 판단하기

def 홀짝(x):
    if x %2 == 0 :   # 2로 나눠서 나머지가 0 >> 짝수
        return ("짝수")
    else:
        return("홀수")

In [5]:
홀짝(41)

'홀수'

In [6]:
x = int(input("숫자를 입력해 주세요(단, 정수로 입력해줘요): "))
print("%d은 %s입니다."%(x , 홀짝))

숫자를 입력해 주세요(단, 정수로 입력해줘요):  41

41은 <function 홀짝 at 0x000002023ADBA340>입니다.

In [9]:

n = int(input("숫자를 입력해주세요: "))


def 홀짝(n):
    if n%2 == 0:
        print("짝수입니다.")
    else:
        print("홀수입니다.")

print("%d는 %s입니다."%(n , 홀짝(n)))

숫자를 입력해주세요:  12

짝수입니다.
12는 None입니다.

In [11]:
# 주어진 두 수 곱하는 함수

def multi(x,y):
    mul = x*y
    return mul

x = int(input("첫번째 숫자를 입력하세요(반드시 숫자입력이에요.)"))
y = int(input("두번째 숫자를 입력하세요(반드시 숫자입력이에요.)"))

print("두 수의 곱은 %d입니다."% multi(x,y))

첫번째 숫자를 입력하세요(반드시 숫자입력이에요.) 78
두번째 숫자를 입력하세요(반드시 숫자입력이에요.) 456

두 수의 곱은 35568입니다.

In [12]:
def multi(x,y):
    mul = x*y
    return mul

x = int(input("첫번째수를 입력하세요."))
y = int(input("두번째수를 입력하세요."))

print("%d와 %d의 곱은 %d입니다."%(x,y,multi(x,y)))

첫번째수를 입력하세요. 12
두번째수를 입력하세요. 5

12와 5의 곱은 60입니다.